/* Poppins Font - Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    /* color  */
    --ogcol:#F4694C;
    --white: #fff;
    --black: #000;
    --pink: #ffbdae;
    --footerbg:#000309;
    --dividerbg:#000611;

    /* font-family  */
    --ffp:'Poppins',
        sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--white);
    font-family: var(--ffp);
}

/* ================
    Typography
================ */
a{
    text-decoration: none;
}

a:hover{
    background-color: var(--ogcol);
}

h1{
    font-size: 3.5rem;
}

p{
    opacity: 0.8;
}


/* ================
    Header
================ */

.header{
    /* 
    height: 100vh;
    width: 100vw; */
    background-image: url(../assets/Photos/futuristic-bg.png);
    background-color: #404040;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    /* position: sticky;
    top: 0;
    left: 0;
    z-index: 9999; */
}

/* ----------- Logo ----------- */

.logo{
    /* border: 2px solid #fff; */
    margin-top: 1.5em;
    margin-left: 7em;
}

/* ---------- Nav Menu Center ----------- */

.nav-menu-center{
    width: 50vw;
    margin-left: 5em;
}

.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu-list > li{
    margin-top: 2em;
    margin-right: 3.5em;
    list-style: none;
}

.menu-list > li > a{
    color: var(--white);
    opacity: 0.8;
}

/* ----------- Nav Menu Right ---------- */

.nav-menu-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    margin-right: 6em;  
}

.login{
    margin-right: 0em;
    color: var(--white);
    width: 5vw;
    padding: 1em 2em 0em 2.3em;
    width: 9vw;
    margin-top: 1em;
}

.login :hover{
    background-color: var(--ogcol);
    padding: 1em 2em;
}

/* ================
    Header Section -1 
================ */

.container{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5em;
}


.hero-1-left{
    width: 45vw;
    margin: 10em 0em 0em 7em;
}

.hero-1-left > p{
    margin: 2em 0em 4em 0em;
    line-height: 30px;
}

.get-started{
    color: var(--white);    
    border: 1px solid white;
    padding: 1em 2.5em;
    margin-right: 1.5em;
}

.get-started:hover{
    border: none;
}

/* ------------ Hero-1-right ----------  */
.hero-1-right{
    width: 45vw;
}

.play-button{
    display:block;
    margin: 15em 0em 14em 18em;
}

.dash-btn{
    margin: 0 1em 5em 10em;
    /* margin-bottom: 5em;
    margin-right: 1em; */
}

.hero-sub-title{
    display: inline-block;
    font-weight: 400;
}

.right-arrow-btn{
    margin-left: 2em;
}


/* ================
    Hero Section 
================ */

.hero{
    background-color: var(--white);
    color: var(--black);
}

.hero-header{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* ---------- Game Cards --------- */

.game-cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10em;
}

.game-card-1{
    background-image: url(../assets/Photos/image\ 2.png);
    object-fit:inherit;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    display: flex;
    height: 350px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
}

.game-card-2{
    background-image: url(../assets/Photos/image\ 4.png);
    object-fit:inherit;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    display: flex;
    height: 350px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
}

.game-card-3{
    background-image: url(../assets/Photos/image\ 3.png);
    /* object-fit: cover; */
    background-size: 300px 350px;
    background-repeat: no-repeat;
    display: flex;
    height: 350px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
}

.game-card-4{
    background-image: url(../assets/Photos/Rectangle\ 56.png);
    object-fit:inherit;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    display: flex;
    height: 350px;
    width: 300px;
    flex-direction: column;
    justify-content: flex-end;
}


.game-card-1-div{
    backdrop-filter: blur(5px);
    color: var(--white);
    height: 100px;
}


.gc-1{
    margin-left: 3em;
}

.gc-4{
    margin-right: 3em;
}


.game-card-1-div > h4{
    margin-top: 1em;
    margin-left: 1em;
    font-weight: 500;
}

.game-card-1-div > p{
    margin-left: 1em;
    opacity: 0.7;
}

.game-card-1-div > a{
    position: relative;
    bottom: 1em;
    margin-left: 4em;
    padding: 0.65em 1.1em;

}

.star{
    margin-left: 1em;
}



/* ---------  War Game ----------*/
.war-game{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6em;
}

.war-game-img{
    height: 55vh;
    width: 35vw;
    object-fit: cover;
}


.war-game-right > h1{
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.war-game-right > p{
    margin-bottom: 4em;
}

.explore-now{
    color: var(--ogcol);
    border: 1px solid var(--ogcol);
    margin-right: 1em;
    padding: 1em 2em;
}

.explore-now:hover{
    color: var(--white);
}

/* -------------- Game Recommended ------------ */

.game-recom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5em;
}

.game-recom > h1{
    font-size: 3rem;
    margin-left: 2.6em;
}

.arrows{
    margin-top: 3em;
    margin-right: 6em;
}

.left-arrow{
    background-color: var(--pink);
}

.right-arrow{
    background-color: var(--ogcol);
}

.left-arrow,
.right-arrow{
    padding: 1em 1em;
}

/* ------------ Battle Game Cards + Texts ------------ */

.battle-game{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5em;
}

.battle-game-rows{
    display: flex;

}

.battle-game-img{
    height: 37vh;
    object-fit: cover;
}

.battle-game-script{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}

.battle-game-script > h3{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
}

.battle-game-script > h4{
    color: var(--ogcol);
    margin-bottom: 1.6em;
}

.download-btn{
    margin-top: 2em;
    color: var(--white);
    background-color: var(--ogcol);
    padding: 1em 2em;
    width: 45%;
}

.download-btn:hover{
    border: 2px solid var(--black);
}


/* =============
Most Played Games
=============== */
.most-played{
    background-color: var(--black);
    overflow: hidden;
}

.most-played > h1{
    padding-top: 1.5em;
    text-align: center;
}

.most-played > p{
    position: relative;
    top : 6em;
    left: 40em;
    opacity: 0.6;
}

.game-world{
    background-image: url(../assets/Icons/GAMES\ OF\ THE\ WORLD.svg);
    height: 5em;
    width: 63vw;
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    top: 11em;
    left: 35em;
}

.most-played-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: -6em;
    margin-bottom: 4em;
}

.rect-17{
    height: 500px;
    object-fit: cover;
    margin-left: 4em;
}

.rect-18{
    height: 480px;
    object-fit: cover;
    margin-top: 15em;
}

.rect-90{
    height: 300px;
    width: 20vw;
    object-fit: cover;
    margin-top: 26.3em;
    margin-right: 6em;
}



/* ==============
    Ending Cards
================ */
.ending-card{
    /* filter: brightness(30%); */
    background: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.5)
      ),url(../assets/Photos/Rectangle\ 606.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-color: #404040;
    background-size: cover;
    object-fit: cover;
    text-align: center;
}

.ending-card-header{
    filter: brightness(100%);
    padding-top: 2em;
    /* color: var(--white); */
}

.ending-card > p{
    margin-top: 1.5em;
    margin-bottom: 3em;
}

.ending-card-btn{
    color: var(--white);
    background-color: var(--ogcol);
    padding: 1em 2em;

}


/* ==============
    Footer
================ */

footer{
    padding-bottom: 2em;
    padding-top: 3em;
    display: flex;
    justify-content: space-around;
    background-color: var(--footerbg);
}

.footer-logo{
    display: block;
    margin-bottom: 2em;
}

.footer-icon{
    height: 40px;
    margin-right: 1.5em;
    margin-bottom: 1.7em;
}

.footer-s1{
    margin-left: 2em;
}

.footer-s1 > p{
    color: #fff;
    margin-bottom: 2em;
}

/* ==== Footer Lists ==== */

.footer-s2 > ul{
    list-style: none;
   
}

.footer-s2 > ul > li{
    margin-bottom: 1.2em;
    font-weight: 300;
}

.footer-s2 > ul > li > a{
    text-decoration: none;
    color: var(--white);
    opacity: 0.7;
}

.footer-s2 > ul > li > a > span{
    color: var(--white);
    font-weight: 500;
    font-size: 1.1rem;
}

.get-in-toch{
    margin-right: 5em;
}

/* =================
Divider
=================== */
.divider{
    height: 6em;
    background-color: var(--dividerbg);
    border-top: 1px solid var(--white);
}